#previousUserGuess {
  background-color: yellow;
  width: 200px;
  height: 200px;
  font-size: 5em;
}
/* will need to create styles for buttons when unclickable*/
/*will need to design error box when number is valid*/
