body {
  background-color: red;
}

section {
  background-color: white;
  border: 10px solid black;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
  width: 600px;
}

article {
  background-color: white;
  border: 10px solid black;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding : 20px;
  width: 560px;
}

h1 {
  font-family: 'Fascinate', cursive;
  font-size: 3em;
  margin-top: 10px;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

.guess, .clear, .reset, .userNumbers, p {
  font-family: 'Roboto Condensed', sans-serif;
}

#previousUserGuess {
  background-color: yellow;
  border: 15px solid blue;
  border-radius: 10%;
  font-size: 5em;
  height: 200px;
  line-height: 200px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

#message {
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  width: 100;
}

#numberGuess {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100px;
}

.userMakesNumbers {
  margin-top: 50px;
}

#userMinNumber, #userMaxNumber {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100px;
}
